<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vuelo247.prototype"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:maxSdkVersion="20"/>
    
   	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
	<uses-permission android:name="com.coffeeandcookies.cursoandroidutn.permission.MAPS_RECEIVE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" >
    </uses-feature>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_el_plan"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.vuelo247.prototype.vistas.activity_home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vuelo247.prototype.vistas.activity_eventos"
            android:label="@string/title_activity_eventos" >
        </activity>
        <activity
            android:name="com.vuelo247.prototype.vistas.activity_canciones"
            android:label="@string/title_activity_canciones" >
        </activity>
        <activity
            android:name="com.vuelo247.prototype.vistas.activity_multimedia"
            android:label="@string/title_activity_multimedia" >
        </activity>
        <activity
            android:name="com.vuelo247.prototype.vistas.activity_detalle_evento"
            android:label="@string/title_activity_detalle_evento" >
        </activity>
        
        <activity
            android:name="com.vuelo247.prototype.vistas.activity_reproductor"
            android:label="@string/title_activity_eventos"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>

        <meta-data 
            android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/mapa_key" />
    </application>

</manifest>
